.presentacion {
    display: flex;
    justify-content: space-around;
    /*background-color: bisque;*/
    height: 500px;
}

.inicio {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    height: 500px;
}

.div-presentacion {
    width: 500px;
    height: 500px;
    border-color: 2px solid black;
}

.redes-sociales-estilo {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    height: 200px;
    border-radius: 5px;
}

.img-presentacion {
    height: 400px;
    width: auto;
    margin-top: 0px;
    padding-top: 30px;
}